.articles {
    margin: 5%;
}

.articleList {
    margin: 5% 0;
}

.articleListItem:hover {
    color: #879b8b;
}

.articleListItem {
    font-size: 1.2rem;
    color: #27522f;
    margin-bottom: 2rem;
}

.articleHr {
    border: 0.3px solid #d3d3d3;
}