.mainTitle {
    background-color: #1b452e;
    color: #ffffff;
    margin: auto;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* vertical-align: middle; */
}

.mainLogo{
    width: 25rem;
    margin: auto;
    display: flex;
    height: 50%
}

/**************************************/
@media screen and (max-width: 600px){
    .mainTitle{
        height: 3.5rem;
        font-size: 0.7rem;
    }
    body{
        width: 100%;
        
    }
    .mainLogo{
        height: 80%
    }
}

/**************************************/