.mainTitle {
    background-color: #1b452e;
    color: #ffffff;
    margin: auto;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* vertical-align: middle; */
}

.mainLogo{
    width: 30%;
    margin: auto;
}

/**************************************/
@media screen and (max-width: 820px){
    .mainTitle{
        height: 3.5rem;
        font-size: 0.7rem;
    }
    body{
        width: 100%;
    }
    .mainLogo{
        width: 37%;
    }
}

@media screen and (min-width: 821px) and (max-width: 1200px){
    .mainLogo{
        width: 35%;
    }
}
/**************************************/