.mainTitle {
    background-color: #033F0F;
    color: #ffffff;
    margin: auto;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* vertical-align: middle; */
}

/**************************************/
@media screen and (max-width: 820px){
    .mainTitle{
        height: 3.5rem;
        font-size: 0.7rem;
    }
    body{
        width: 100%;
        
    }
}
/**************************************/