.postWriteForm {
    margin: 5%;
}

.postWriteForm input, 
.postWriteForm textarea {
    width: 100%;
}

.postWriteForm button {
    border: none;
    font-size: 1rem;
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
}

.postWriteForm button:hover {
    cursor: pointer;
}